
.caas h1{
  text-align: center;
  color: #5f5e5e;
}
.caas{
	font-family: 'Montserrat', sans-serif;
	padding-top: 30px;
	position: relative;
}

.divisi{
  text-align: center;
  padding-top: 10px;
  background-color: red;
}

.divisi{
  padding-bottom: 5px;
  color:white;
  font-family: 'Montserrat', sans-serif;
}

/*flip*/
.row{
	display: flex;
	flex-wrap: wrap;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.flip-main{
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
	padding: 30px ;
}
.flip-main .flip-card{
    flex:0 0 calc(33.33% - 30px);
    margin:0 15px 30px;
}
.flip-main .flip-card-inner{
  border-radius: 10%;
	box-shadow: 0 0 10px #afb4c9;
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s ease;
}
.flip-main .flip-card-front img{
	width: 100%;
  object-fit: fill;
}
.flip-main .flip-card-front,
.flip-main .flip-card-back{
	backface-visibility: hidden;
}
.flip-main .flip-card-back{
  border-radius: 10%;
	background-color:#E8F3D6;
	position: absolute;
	left:0;
	top:0;
	padding: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: rotateY(180deg);
}
.flip-main .flip-card-back h3{
	font-size: 24px;
	color: black;
  font-weight: bold;
}
.flip-main .flip-card-back p{
	font-size: 16px;
	color: black;
  margin: 0;
}
.flip-main .flip-card:hover .flip-card-inner{
   transform: rotateY(180deg);
}

.flip-card img{
  border-radius: 10%;
	width: 150px;
	height: 400px;
  padding-top: 0px;
}

.text a i{
  padding-top: 30px;
  font-size: 45px;
  color: darkorchid;
}

/*responsive*/
@media(max-width: 991px){
  .flip-main .flip-card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media(max-width: 767px){
  .flip-main .flip-card {
    flex: 0 0 calc(100% - 30px);
  }	
}

