body {
  background-image: url('../assets/img/gis-bg.png');
  background-size: cover;
}

h5,
p,
li {
  color: white;
}

/* gis_project css */
.eiffel, .tult, .monas{
  max-height: 360px;
  max-width: 360px;
}

.download{
  margin-left: 20px;
  text-align: center;
}

/* flip card */

.row{
	display: flex;
	flex-wrap: wrap;
}
.container{
	max-width: 360px;
	margin:auto;
}
.flip-main{
	min-height: 100vh;

	padding: 20px ;
}
.flip-main .flip-card{
    flex:0 0 calc(33.33% - 30px);
    margin:0 15px 30px;
}
.flip-main .flip-card-inner{
  border-radius: 10%;
	box-shadow: 0 0 10px #a9b3d6;
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s ease;
}
.flip-main .flip-card-front img{
	width: 360px;
  padding: 0px;
  object-fit: fill;
}
.flip-main .flip-card-front,
.flip-main .flip-card-back{
	backface-visibility: hidden;
}
.flip-main .flip-card-back{
  border-radius: 10%;
	background-color:#E8F3D6;
	position: absolute;
	left:0;
	top:0;
	padding: 0px;
	width: 360px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: rotateY(180deg);
}
.flip-main .flip-card-back h3{
	font-size: 24px;
	color: black;
  font-weight: bold;
}
.flip-main .flip-card-back p{
	font-size: 16px;
	color: black;
  margin: 0;
}
.flip-main .flip-card:hover .flip-card-inner{
   transform: rotateY(180deg);
}

.flip-card img{
  border-radius: 10%;
	width: 150px;
	height: 400px;
  padding-top: 0px;
}

.text a i{
  padding-top: 30px;
  font-size: 45px;
  color: darkorchid;
}

.judul{
	text-align: center;
    color: white;
    font-weight: bold;
}