body {
  background-image: url('../assets/img/gt-bg.png');
  background-size: cover;
}

h5,
p,
li {
  color: white;
}

.start-btn {
  margin-left: 10px;
}

.sticker {
  font-size: 50px;
}
/* .title h1,
  span {
    font-family: 'Racing Sans One', cursive;
  } */

.game{
  margin: 0 auto;
  display: block;
  border-style: none;
  width: 500px;
  justify-content: center;
  right: 375px;
  position: relative;
} 

.guide{
  text-align: center;
}

@media(max-width: 991px){
  .game {
    flex: 0 0 calc(50% - 30px);
  }
}
@media(max-width: 767px){
  .game {
    flex: 0 0 calc(100% - 30px);
  }	
}
