
.card {
  margin:auto;
  flex-basis: 31%;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 20px 12px;
  transition: 0.67s; 
  color: black !important;
}
.card:hover{
  background : #f70000;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  color: white !important;
}


.card img{
  width: auto;
}

.Title_pembina{
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
  transition: 0.67s;
  flex-basis: 31%;
  border-radius: 15px;
}
.Title_pembina:hover{
  color: #ffffff;
  background: red;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

