@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Racing+Sans+One&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
} */

.btn {
  position: relative;
  display: inline-flex;
  padding: 15px 30px;
  background: #363636;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #2456d3;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}
